{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="container">
  {% if validlink %}

  <legend>Enter new password</legend>

  <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

  <form action="" method="post">{% csrf_token %}
    <legend id="errorForm" class="error">
      {% if form.new_password2.errors %}
      {{ form.new_password2.errors }}
      {% endif %}
    </legend>
    <fieldset>
      <div class="col-md-2">
        <input id="id_new_password1" type="password" name="new_password1" placeholder="New password" class="required">
      </div>
      <div class="col-md-2">
        <input id="id_new_password2" type="password" name="new_password2" placeholder="Confirm new password" class="required">
      </div>
    </fieldset>
    <div class="col-md-2 right">
      <input type="submit" value="Change my password" />
    </div>
  </form>
  {% else %}
  <legend>Password reset unsuccessful</legend>

  <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

  {% endif %}
</div>
{% endblock %}
